<div class="container-chat">
  {{> left-column}}
  <div class="online-list">
    <div class="online-list-title">
      <div class="online-list-title-text">訊息</div>
    </div>
    <div class="message-user-list">

    </div>
  </div>

  <div class="chat-room">
    <div class="chat-room-title">{{visitUser.name}}</div>
    <div id="messages">
      {{#each messages}}
      <div class="messagge">{{this.User.name}} : {{this.message}}</div>
      {{/each}}
    </div>
    <form id="chatroom" action="/message/{{visitUser.id}}" method="POST">
      <input id="m" autocomplete="off" name="message"><button type="submit">Send</button>
    </form>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  let socket = io();
  let messageslist = document.getElementById('messages');
  let messageuserlist = document.querySelector('.message-user-list');

  let selfId = '';

  socket.on('self', user => {
    if (user.current) {
      selfId = user.id;
    }
    console.log(user);
  })

  socket.on('send_private_message', data => {
    console.log(data);
    let {
      roomId,
      sender,
      receiever,
      message,
    } = data;

    if (Number(selfId) === Number(receiever)) {
      console.log(`recieve${sender}'s message:${message}`)
    }
  })

</script>