<div class="container-chat">

  <div class="online-list">
    <div class="online-list-title">
      <div class="online-list-title-text">上線使用者(5)</div>
    </div>
  </div>
  <div class="chat-room">
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>